.our-products__inner{
  position: relative;
  padding: 12px;
  padding-top: 70px;
  padding-bottom: 30px;
}

.our-products__button-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  width: 100%;
}

.our-products__button-next {
  display: none;
}


.our-products__description {
  margin: 0;
  margin-top: 45px;
  color: #FFFFFF;
  width: 100%;
  font-size: 16px;
  line-height: 26px;
  font-family: "Intro Light";
}
  
.our-products__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.product-card-list {
  margin: 0;
  margin-top: 30px;
  margin-right: 10px;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 257px;
  list-style-type: none;
}

@media screen and (min-width: 768px) {
  .our-products__inner{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
    padding-top: 40px;
    padding-bottom: 50px;
  }

  .our-products__title {
    order: 1;
  }

  .our-products__description {
    order: 2;
    margin-top: 65px;
    width: 716px;
  }

  .our-products__button-group {
    order: 3;
    margin-top: 30px;
  }

  .our-products__list-wrapper {
    order: 4;
    margin-top: 50px;
  }

  .product-card-list {
    height: 597px;
  }

  .our-products__button-next {
    display: block;
  }
}

@media screen and (min-width: 1366px) {
  .our-products__inner{
    padding-left: 55px;
    padding-right: 50px;
    padding-top: 90px;
    padding-bottom: 105px;
  }

  .product-card-list {
    height: 675px;
  }
}

@media screen and (min-width: 1440px) {
  .our-products__inner{
    padding-left: 270px;
  }
}

@media screen and (min-width: 1920px) {
  .our-products__inner {
    position: relative;
    padding-top: 45px;
    padding-bottom: 470px;
    padding-left: 310px;

    background-image: url(../../img/our_products_diamond_bc.png);
    background-repeat: no-repeat;
    background-position: bottom 60px left 310px;
  }

  .our-products__description {
    width: 415px;
  }

  .product-card-list {
    height: 675px;
  }

  .our-products__button-next {
    position: absolute;
    top: 70px;
    right: 50px;
    z-index: 100;
  }

  .our-products__list-wrapper {
    position: absolute;
    top: 105px;
    margin-left: 500px;
    width: 1110px;
  }
}