@font-face {
  font-family: 'Airport';
  src: url('../fonts/airport/airport.eot');
  src: local('Airport'),
       url('../fonts/airport/airport.woff') format('woff'),
       url('../fonts/airport/airport.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #EEEEEE;
}

.container {
  margin: 0 auto;
  padding-top: 60px;
  max-width: 545px;
  box-sizing: border-box;
}

.link {
  color: #378CBE;
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.news-card {
  margin-bottom: 20px;
  padding: 35px 50px;
  background-color: #fff;
  border: 1px solid #E5E5E5;
  border-radius: 6px;
  box-shadow: 0 1px 1px 0 rgba(183, 183, 183, .4);
}

.news-card__title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 37px;
  font-family: 'Airport', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
}

.news-card__title a {
  color: #555555;
  text-decoration: none;
}

.news-card__title a:hover {
  text-decoration: underline;
}

.news-card-box {
  display: flex;
}

.news-card-box__img-wrapper {
  flex-shrink: 0;
  display: block;
  margin-right: 15px;
  width: 120px;
  height: 120px;
}

.news-card-box__img {
  width: 100%;
  height: 100%;
  font-family: 'object-fit: cover; object-position: center;';
  object-fit: cover;
  object-position: center;
}

.news-card-box__right-top {
  margin-top: -6px;
  margin-bottom: 5px;
}

.news-card-box__desc {
  margin: 0;
  margin-bottom: 4px;
  line-height: 18px;
}

.news-card-box__date {
  color: #A9A9A9;
  font-style: italic;
}

.news-card-box__date::before {
  content: "- ";
}

@media (max-width: 575px) {
  .news-card {
    padding-left: 15px;
    padding-right: 15px;
  }

  .news-card-box {
    flex-direction: column;
  }

  .news-card-box__img-wrapper {
    margin: 0;
    margin-bottom: 15px;
    width: 100%;
    height: 200px;
  }
}
