.services {
  padding: 35px 0;
}

.services__title {
  color: #39BA44;
}

.services__sub-title {
  margin: 0;
  margin-bottom: 30px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-size: 26px;
}

.services__sub-title:nth-of-type(2n) {
  margin-top: 20px;
}

.services__sub-title span {
  display: block;
  font-size: 18px;
}

.services__price {
  display: flex;
  justify-content: center;
  margin-top: 35px;
}

.services__box {
  position: relative;
  padding: 30px 0;
  background-position: center;
  z-index: 0;
}

.services__box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 184, 217, .7);
  z-index: -1;
}


.services-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0 80px;
  list-style-type: none;
}

.services-list__item {
  flex: 0 1 100%;
  position: relative;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  clear: both;
}

.services-list__item:hover {
  cursor: pointer;
}

.services-list__item span {
  display: block;
  padding: 15px;
  color: #fff;
  font-size: 18px;
  background-color: #00B8D9;
  text-align: center;
  border: 2px solid #fff;
}

.services-list--grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5px;

  .services-list__item {
    padding: 0;
  }

  .services-list__item:nth-child(4n) {
    grid-column-end: span 3;
  }

  .services-list__item span {
    height: 100%;
    box-sizing: border-box;
  }
}

.services-list__item:hover > .services-list__content {
  visibility: visible;
  opacity: 1;
}

.services-list__content {
  position: absolute;
  left: 0;
  top: 100%;
  margin-top: 15px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  color: #8C9190;
  background-color: #fff;
  border: 2px solid #009245;
  visibility: hidden;
  opacity: 0;
  transition: opacity 300ms;
  z-index: 100;
}

.services-list__content :first-of-type {
  margin-top: 0;
}

.services-list__content img {
  max-width: 200px;
  margin-right: 10px;
  margin-bottom: 10px;
  float: left;
}

@media (max-width: 999px) {
  .services .container {
    margin: 0;
  }

  .services-list {
    padding: 0 40px;
  }
  
  .services-list--grid {
    display: flex;
    padding: 0 40px;
  }

  .services-list__content {
    top: unset;
    bottom: 100%;
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .services-list {
    padding: 0 15px;
  }

  .services-list--grid {
    padding: 0 15px;
  }
}

@media (max-width: 999px) {
  .services-list__title::after {
    content: "подробнее";
    display: block;
    margin-top: 10px;
    color: #0D8E46;
  }
}