a.category(href="#")
  .category__img
    img(src="img/category-1.jpg", alt="Компьютеры")

  p.category__info
    b.category__title Компьютеры
    span.category__sum 393 
      span товара
      +icon("arrow-right")
