extends ../pug/template

block content
  main.container
    include ../components/advantages/advantages
    include ../components/catalog/catalog
    include ../components/hit/hit

block scripts
  script(src="js/script.js")
