section.catalog
  h2.catalog__title.section-title Каталог товаров

  ul.catalog__list.row
    li.catalog__item.col-lg-3
      a.category(href="#")
        .category__img
          img(width="155", height="155", src="img/category-1.jpg", alt="Компьютеры")

        p.category__info
          b.category__title Компьютеры
          span.category__sum 393 
            span товара
            +icon("arrow-right")

    li.catalog__item.col-lg-3
      a.category(href="#")
        .category__img
          img(width="155", height="155", src="img/category-2.jpg", alt="Одежда")

        p.category__info
          b.category__title Одежда
          span.category__sum 245 
            span товара
            +icon("arrow-right")

    li.catalog__item.col-lg-3
      a.category(href="#")
        .category__img
          img(width="155", height="155", src="img/category-3.jpg", alt="Электроника")

        p.category__info
          b.category__title Электроника
          span.category__sum 456 
            span товара
            +icon("arrow-right")

    li.catalog__item.col-lg-3
      a.category(href="#")
        .category__img
          img(width="155", height="155", src="img/category-4.jpg", alt="Автотовары")

        p.category__info
          b.category__title Автотовары
          span.category__sum 128 
            span товара
            +icon("arrow-right")

    li.catalog__item.col-lg-3
      a.category(href="#")
        .category__img
          img(width="155", height="155", src="img/category-5.jpg", alt="Спорт и отдых")

        p.category__info
          b.category__title Спорт и отдых
          span.category__sum 197 
            span товара
            +icon("arrow-right")

    li.catalog__item.col-lg-3
      a.category(href="#")
        .category__img
          img(width="155", height="155", src="img/category-6.jpg", alt="Детские товары")

        p.category__info
          b.category__title Детские товары
          span.category__sum 86 
            span товара
            +icon("arrow-right")

    li.catalog__item.col-lg-3
      a.category(href="#")
        .category__img
          img(width="155", height="155", src="img/category-7.jpg", alt="Туризм и рыбалка")

        p.category__info
          b.category__title Туризм и рыбалка
          span.category__sum 92 
            span товара
            +icon("arrow-right")

    li.catalog__item.col-lg-3
      a.category(href="#")
        .category__img
          img(width="155", height="155", src="img/category-8.jpg", alt="Инструмент")

        p.category__info
          b.category__title Инструмент
          span.category__sum 104 
            span товара
            +icon("arrow-right")

  button.catalog__show-more.btn.btn_outline Показать ещё
    +icon("arrow-down")
