.partners-list {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style-type: none;
  overflow: hidden;
}

.partners-list__item {
  display: flex;
  justify-content: space-between;
  min-width: 900px;
}

.partners-list__item:nth-child(2n) {
  justify-content: space-around;
}

.partners-list__item svg {
  transform: scale(.75);
}
