section.hit
  header.hit__header
    h2.hit__title.section-title Хиты продаж
    .hit__controls
      button.hit__prev(aria-label="Предыдущий товар")
        +icon("arrow-left")
      button.hit__next(aria-label="Следующий товар")
        +icon("arrow-right")

  .hit__slider.swiper-container
    .swiper-wrapper
      .swiper-slide
        article.product
          header.product__header
            span.product__badge.badge hit
            button.product__lens
              +icon("lens")
            .product__img
              img(width="215", height="215", src="img/product-1.jpg", alt="Смартфон Apple Iphone 8 64GB Gold")
              button.product__zoom
                span.product__zoom-box
                  +icon("expand")

            h3.product__title
              a(href="#") Смартфон Apple Iphone 8 64GB Gold

          .product__rating
            .product__rating-rating.rating(data-rating="4.5")
              i.rating__item
              i.rating__item
              i.rating__item
              i.rating__item
              i.rating__item

            p.product__reviews 10 отзывов
          
          a.product__price(href="#")
            b.product__price-current 56 890 ₽
            del.product__price-old 56 990 ₽

          p.product__status В наличии

          footer.product__footer
            button.product__cart.btn В корзину
            button.product__compare(aria-label="Сравнить цены")
              +icon("compare")
            button.product__favorite(aria-label="Добавить в избранные")
              +icon("favorite")

      .swiper-slide
        article.product
          header.product__header
            span.product__badge.badge hit
            button.product__lens
              +icon("lens")
            .product__img
              img(width="215", height="215", src="img/product-2.jpg", alt="Смартфон Samsung Galaxy S8 64GB Black")
              button.product__zoom
                span.product__zoom-box
                  +icon("expand")

            h3.product__title
              a(href="#") Смартфон Samsung Galaxy S8 64GB Black

          .product__rating
            .product__rating-rating.rating(data-rating="4.5")
              i.rating__item
              i.rating__item
              i.rating__item
              i.rating__item
              i.rating__item

            p.product__reviews 12 отзывов
          
          a.product__price(href="#")
            b.product__price-current 49 990 ₽
            del.product__price-old 54 990 ₽

          p.product__status В наличии

          footer.product__footer
            button.product__cart.btn В корзину
            button.product__compare(aria-label="Сравнить цены")
              +icon("compare")
            button.product__favorite(aria-label="Добавить в избранные")
              +icon("favorite")

      .swiper-slide
        article.product
          header.product__header
            span.product__badge.badge hit
            button.product__lens
              +icon("lens")
            .product__img
              img(width="215", height="215", src="img/product-3.jpg", alt="Смартфон Huawei Honor 9 64GB Blue")
              button.product__zoom
                span.product__zoom-box
                  +icon("expand")

            h3.product__title
              a(href="#") Смартфон Huawei Honor 9 64GB Blue

          .product__rating
            .product__rating-rating.rating(data-rating="4")
              i.rating__item
              i.rating__item
              i.rating__item
              i.rating__item
              i.rating__item

            p.product__reviews 8 отзывов
          
          a.product__price(href="#")
            b.product__price-current 26 990 ₽ 

          p.product__status В наличии

          footer.product__footer
            button.product__cart.btn В корзину
            button.product__compare(aria-label="Сравнить цены")
              +icon("compare")
            button.product__favorite(aria-label="Добавить в избранные")
              +icon("favorite")

      .swiper-slide
        article.product
          header.product__header
            span.product__badge.badge hit
            button.product__lens
              +icon("lens")
            .product__img
              img(width="215", height="215", src="img/product-4.jpg", alt="Смартфон ASUS ZenFone 4 Max ZC554KL 16GB Black")
              button.product__zoom
                span.product__zoom-box
                  +icon("expand")

            h3.product__title
              a(href="#") Смартфон ASUS ZenFone 4 Max ZC554KL 16GB Black

          .product__rating
            .product__rating-rating.rating(data-rating="3")
              i.rating__item
              i.rating__item
              i.rating__item
              i.rating__item
              i.rating__item

            p.product__reviews 5 отзывов
          
          a.product__price(href="#")
            b.product__price-current 13 990 ₽ 

          p.product__status В наличии

          footer.product__footer
            button.product__cart.btn В корзину
            button.product__compare(aria-label="Сравнить цены")
              +icon("compare")
            button.product__favorite(aria-label="Добавить в избранные")
              +icon("favorite")

      .swiper-slide
        article.product
          header.product__header
            span.product__badge.badge hit
            button.product__lens
              +icon("lens")
            .product__img
              img(width="215", height="215", src="img/product-1.jpg", alt="Смартфон Apple Iphone 8 64GB Gold")
              button.product__zoom
                span.product__zoom-box
                  +icon("expand")

            h3.product__title
              a(href="#") Смартфон Apple Iphone 8 64GB Gold

          .product__rating
            .product__rating-rating.rating(data-rating="4.5")
              i.rating__item
              i.rating__item
              i.rating__item
              i.rating__item
              i.rating__item

            p.product__reviews 10 отзывов
          
          a.product__price(href="#")
            b.product__price-current 56 890 ₽
            del.product__price-old 56 990 ₽

          p.product__status В наличии

          footer.product__footer
            button.product__cart.btn В корзину
            button.product__compare(aria-label="Сравнить цены")
              +icon("compare")
            button.product__favorite(aria-label="Добавить в избранные")
              +icon("favorite")
