section.advantages
  h2.advantages__title Преимущества

  .advantages__inner
    ul.advantages__list.row
      li.advantages__item.col-lg-4
        +icon("car", "advantages__item-img")
        .advantages__info
          b.advantages__item-title Доставка по России
          p.advantages__item-desc Осуществляется транспортными компаниями или Почтой России
      li.advantages__item.col-lg-4
        +icon("pay", "advantages__item-img")
        .advantages__info
          b.advantages__item-title On-line оплата на сайте
          p.advantages__item-desc Оплата производится банковской картой  и электронными деньгами
      li.advantages__item.col-lg-4
        +icon("percent", "advantages__item-img")
        .advantages__info
          b.advantages__item-title Система скидок
          p.advantages__item-desc Накопительные скидки и бонусная программа для наших клиентов
